body{
    background-color: #232323;
    color: LightGray;
}

.tabDiv {
    min-width: 42em;
}

.poolTable {
    border: 1px solid black;
    border-collapse: collapse;
    padding:1ex;
    width: 50%;
}

.tabular {
    border: 1px solid black;
    border-collapse: collapse;
    padding:1ex;
    width: 95%;
}

.cell {
    border: 1px solid black;
    border-collapse: collapse;
    padding:1ex;
    width: auto;
}

.hosCenter {
    display: flex;
    justify-content: center;
}

.small {
    width: 2em;
}

.wide {
    width: 18em;
}

table {
    width: 80%;
    table-layout: fixed;
    margin: auto
}

.big {
    font-size: 18;
}

.btn {
    border: 1px solid black;
    border-radius: 3px;
    background-color: LightGrey;
}
.btn:hover {
    border: 1px solid black;
    border-radius: 3px;
    background-color: Grey;
}
.btn:active {
    border: 1px solid black;
    border-radius: 3px;
    background-color: Grey;
    box-shadow: 0 3px DimGrey;
    transform: translateY(2px);
}
.btn:target {
    border: 1px solid SlateGrey;
    border-radius: 3px;
    background-color: LightGrey;
}
.btn:focus {
    border: 1px solid SlateGrey;
    border-radius: 3px;
    background-color: LightGrey;
}

.fld {
    background-color: #EEE;
    border: 1px Black;
    padding-left: 1ex;
    padding-right: 1ex;
    width: 7em;
}
.fld:focus {
    border: 1px SlateGrey;
}

.fld:disabled {
    background-color; #999;
}

.txtfld {
    background-color: #EEE;
    border: 1px Black;
    padding-left: 1ex;
    padding-right: 1ex;
    width: 100%;
}
.txtfld:focus {
    border: 1px SlateGrey;
}

.txtfld:disabled {
    background-color; #999;
}

td {
    text-transform: capitalize;
}

.gap {
    width: 3em;
}
